@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img,iframe{vertical-align:top;}

/*문서전체 공통적으로 적용할 스타일*/
:root{
    font-family: "Pretendard Variable";
    font-size:14px; line-height:1.6; color:#333;
}

.inner{max-width:1400px; margin:0 auto;}


.header_container1 ul{display:flex;justify-content:flex-end;
                    font-size:16px; gap:10px;}


.header_container2{display:flex;justify-content: space-between; margin-top:40px;}
.guidebook ul{display:flex;}

.gnb{background-color:#001C69;height:50px;margin-top:40px;}
.gnb ul{display:flex;justify-content:space-between;font-size:18px;font-weight:300;line-height:50px;}
.gnb a{color:#fff;}

#main_view{background-image:url("./images/background.png");}
.notice{height:50px; background:#fff8;}
.notice_icon{display:block; color:#fff; background-color:#001C69; 
    height:32px; padding:0 15px;; line-height:32px; border-radius:20px; margin-right:20px;
    font-style:normal;
    }
.notice_icon::before{content:""; display:inline-block; margin-right:5px;
    width:16px; height:16px; border-radius:50%; background-color:#fff;vertical-align:-3px;}
.notice .inner{display:flex; height:50px; align-items:center;}
.notice .inner p:last-child{margin-left:auto;}



.container{background-image:url("./images/background.png");}

.main_view{align-content:center;}
.search img{width: 80px;}

.container .inner{display:flex;}
.main_container{float:right;margin-left:auto;}
.search{background-color:#fff9;border-radius:20px;padding:15px; width:450px;margin-bottom:10px;margin-top:10px;}
.board{background-color:#fff9;border-radius:20px;padding:15px; width:450px;margin-bottom:10px;}

.board input:checked + label{color:#A54545;font-weight:bold;}

.board .content{display:none;}

.board #t1:checked ~ .b1{display:block;}
.board #t2:checked ~ .b2{display:block;}
.board #t3:checked ~ .b3{display:block;}
.board #t4:checked ~ .b4{display:block;}